{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid mt-3 home-main">
    <div class="container-fluid d-flex justify-content-end mr-5 home-container">
        <div class="col-12 col-sm-6 col-md-6 col-lg-7 image-container">
            <img src="https://cdn.dribbble.com/users/2924953/screenshots/9319434/media/01f42a66236a820777a0b5a7db380d3b.gif"
            class="home-img">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-5">
        <h1 id="big-title" class="ml-5">Wild Astroboy</h1>
        <h3 class="subtitle">A Blog based on Travis Scott Universe</h3>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-end mr-5">
    </div>
</div>
    <div class="white-space" style="height: 400px"></div>
{% endblock %}
