{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <h1 id="big-title" class="text-right mr-5">Astro Or Rap</h1>
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ rapperCard.image }}" alt="Card img">
                <div class="card-body">
                    <h5 class="card-title">{{rapperCard.rapper}}</h5>
                    <p class="card-text">{{ rapperCard.quote}}</p>
                    <h6>{{ rapperCard.track }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
    <div style="height: 400px"></div>
{% endblock %}
