{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <h1 id="big-title" class="text-right mr-5">Astro Or Rap</h1>
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card img">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div style="height: 400px"></div>
{% endblock %}
