@charset "UTF-8";
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato&family=Rubik&family=Work+Sans&display=swap');
@font-face {
    font-family: BrokenPlanez;
    src: url('../../font/broken_planew.otf');
}
/*
font-family: 'Didact Gothic', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

:root {
    --violet: rgba(213,175,255,1);
    --lilac: rgba(172,101,189,1);
    --volt: rgba(195,242,147,1);
    --kaki: rgba(104,121,95,1);
    --darkbrown: rgba(46,45,44,1);
    --lightgray: rgba(245,245,245,1);
    --gray: rgba(230,230,230,1);
    --black: rgba(14,14,14,1);
    --white: rgba(254,254,254,1);
    --almostwhite: rgba(252,252,252,1);
    --lightviolet: rgba(246,239,255,1);
    --lightlilac: rgba(238,224,241,1);
    --lightkaki: rgba(224,228,223,1);
    --lightvolt: rgba(243,252,233,1);
}

/* Body */

* {
    margin: 0;
}

body {
    font-family: Rubik, Didact Gothic, BrokenPlanez, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-image: linear-gradient(120deg, var(--almostwhite), var(--lightvolt), var(--lightlilac), var(--lightviolet));
}

/* Elements */

.container {
    background-color: var(--almostwhite);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

#big-title {
    font-family: BrokenPlanez;
    font-size: 8em;
    color: var(--violet);
}

h1, h2, h3, h4, h5 {
    font-family: Rubik;
}

h1 {
    color: var(--darkbrown);
}

p {
    color: var(--black);
    font-family: Didact Gothic;
}

ul, li {
    list-style-type: none;
}

a {
    color: var(--darkbrown);
}

a:hover {
    color: var(--kaki);
    text-decoration: none;
}

.btn {
    font-family: Rubik, sans-serif;
    background-color: var(--black);
    border-style: solid;
    border-color: var(--volt);
    border-width: thick;
    color: var(--white);
}

.btn:hover {
    color: var(--violet);
    border-color: var(--violet);
    font-size: 1.05em;
}

.white-space {
    height: 400px;
}

.subject {
    font-style: italic;
}

.theme-word {
    color: var(--kaki);
}
.theme-word:hover {
    color: var(--lilac);
    padding-left: 10%;
}

.card {
    border-style: none;
}
.card-body {
    background-color: var(--lightviolet);
}
.card-footer {
    border-style: none;
    background-color: var(--lightlilac);
}

.container-wild {
    background-color: var(--almostwhite);
}

/* Navbar */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,159,127,0.6)' stroke-width='4' stroke-linecap='straight' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler {
    border-color: rgba(255,159,127,0.2);
    border-width: 2px;
}

/* Home */

.home-img {
    height: 95%;
}
.subtitle {
    font-style: italic;
    color: var(--kaki);
}

/* Login and Register */

.login-container {
    background-image: url("https://media.giphy.com/media/1SxwKW4xudUqK6hBYY/giphy.gif");
    height: 540px;
}

.login-on-gif-text {
    font-family: Rubik;
    color: var(--lightvolt);
    letter-spacing: 2px;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.register-container {
    background-image: url("https://media3.giphy.com/media/7J4WIQP8r873eQ5jwv/giphy.gif");
    height: 800px;
}

.register-box {
    background-color: rgba(14,14,14,1);
    height: 800px;
}

.register-word {
    color: var(--volt);
}

.register-form {
    color: var(--almostwhite);
}

/* All Articles */

.all-articles-card {
    display: flex;
    flex-direction: row-reverse;
    height: 90%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-footer {
    bottom: 5%;
    margin-top: 3%;
    position: absolute;
}

/* Themed Articles */

.themed-articles-btn {
    margin-top: 4%;
}

/* One Article */

#one-article-big-title {
    font-family: BrokenPlanez;
    font-size: 5em;
    color: var(--violet);
}

.one-article-media-comments-box {
    display: flex;
    justify-content: center;
}

.one-article-video-box {
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-wild {
    margin-top: 7%;
}

.comment-title {
    color: var(--kaki);
    font-family: "Broken Planewing";
    font-size: 4.5em;
}

/* Oracle Cards */

#big-title-card {
    font-family: BrokenPlanez;
    font-size: 7em;
    color: var(--lilac);
}

.oracle-h3 {
    align-self: center;
    color: var(--kaki);
    font-style: italic;
}

.oracle-emojis {
    font-style: normal;
}

.oracle-card {
    background-color: var(--volt);
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

.oracle-card-body {
    padding-top: 10%;
}

.quote-rap {
    font-style: italic;
}

/* Responsive */

/* r-elements */

@media screen and (max-width: 990px) {
    .theme-word {
        font-size: 1.5em;
    }
    .white-space {
        height: 150px;
    }
}
@media screen and (max-width: 500px) {
    .theme-word {
        font-size: 1.3em;
    }
    .white-space {
        height: 50px;
    }
}

/* r-home */

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1150px) {
    #big-title {
        font-size: 8em;
    }
    .home-container {
        margin-top: 6%;
    }
}
@media screen and (max-width: 990px) {
    .home-img {
        height: 90%;
    }
}
@media screen and (max-width: 870px) {
    .home-img {
        height: 80%;
    }
}
@media screen and (max-width: 800px) {
    #big-title {
        font-size: 6em;
    }
    .home-img {
        height: 70%;
    }
}
@media screen and (max-width: 700px) {
    .home-img {
        height: 60%;
    }
    .subtitle {
        font-size: 1.5em;
    }
    .home-container {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}
@media screen and (max-width: 690px) {
    .home-img {
        height: 50%;
    }
}
@media screen and (max-width: 500px) {
    #big-title {
        font-size: 4.5em;
        justify-content: flex-start;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10%;
    }
    .home-img {
        height: 45%;
    }
    .subtitle {
        font-size: 1.2em;
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 436px) {
    #big-title {
        font-size: 4.3em;
    }
    .home-img {
        height: 40%;
    }
    .subtitle {
        font-size: 1.1em;
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 380px) {
    #big-title {
        font-size: 3.5em;
    }
    .home-img {
        height: 35%;
    }
    .subtitle {
        font-size: 1em;
        margin-bottom: 10%;
    }
}

/* r-all-articles */

@media screen and (max-width: 1150px) {
    .card-fonts {
        font-size: 1em;
    }
}
@media screen and (max-width: 990px) {
    .all-articles-card {
        flex-direction: column;
        height: 100%;
    }
    .card-footer {

    }
}
@media screen and (max-width: 500px) {
    .all-articles-card {
    }
}

/* r-themed-articles */

@media screen and (max-width: 990px) {
    .themed-articles-row {
        margin-left: 10%;
    }
}
@media screen and (max-width: 500px) {
    .themed-articles-row {
        margin-left: 0%;
        margin-right: 2%;
    }
    .themed-articles-btn {
        margin-top: 7%;
    }
}

/* r-one-article */

@media screen and (max-width: 990px) {
    .comment-title {
        font-size: 3.7em;
    }
    #one-article-big-title {
        font-size: 4.4em;
    }
}
@media screen and (max-width: 500px) {
    .comment-title {
        font-size: 2.7em;
    }
    #one-article-big-title {
        font-size: 4em;
    }
}

/* r-oracle-cards */

@media screen and (max-width: 990px) {
    .oracle-card {
        margin-top: 10%;
    }
}
@media screen and (max-width: 500px) {
    .oracle-card {
        flex-direction: column;
        margin-top: 15%;
    }
    .oracle-card-body {
        padding-top: 10%;
        padding-bottom: 17%;
    }
}
