{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center">
        <h1 id="big-title">👑 Success 👑</h1>
    </div>
    <div class="container-fluid d-flex justify-content-center mt-3">
        <h3>Thank you for your message, we appreciate it. We'll get back to you <medium class="theme-word">A$AP</medium>.</h3>
    </div>
    <div class="container-fluid d-flex justify-content-center mt-5">
        <h3>Until next time, we </h3>
        <medium id="big-title">👻</medium>
    </div>
    <div class="white-space"></div>
{% endblock %}
